*{
    margin: 0px;
    padding: 0px;
    background-color: rgb(1, 8, 28);
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    height:max-content;
}


#heading{
    margin: 2%;
}
#port{
    display: inline-block;
}
#folio{
    
    color: rgb(8, 109, 242);
    display: inline-block;
}
div{
    display: inline-block;
}
a{
    text-decoration: none;

    transition: all;
    transition-duration: 0.5s;
}
a:hover{
    color: rgb(0, 123, 255);
    

    transition: all;
    transition-duration: 0.5s;
}
.navlink{
    margin: 2rem;
}
#navlinks{
    margin-left: 10%;
    transition: all;
    transition-duration: 0.5s;
    padding: 0.5rem;

}
#navlinks:hover{
    border: 1px solid white;
    transition: all;
    transition-duration: 0.5s;
    padding: 1rem;
    border-radius: 15px;
}
img{
    border-radius: 50%;
    margin-left: 3%;
    height: 19rem;

    transition: all;
    transition-duration: 1s;
}
img:hover{
    border: 3px solid rgb(0, 123, 255);
    height: 20rem;
    padding: 1rem;
    transition: all;
    transition-duration: 1s;

}

.icon{
    margin-top: 2rem;
    height: 30px;
    border-radius: 5px;
    display: inline-block;
    align-items: right;
    transition: all;
    transition-duration: 1s;
    border: none;
}
.icon:hover{
    border: none;
    height: 30px;
    padding: 0px;
    border-radius: 5px;
    transition: all;
    transition-duration: 1s;
}

/* #icon1:hover{
    margin-top:3rem;
} */







main{
    display: flex;
}

#greeting{
    display: inline-block;
    margin-top: 5rem;
    margin-left: 5rem;
}



@media (max-width:600px){
    *{
        margin: 0px;
        padding: 0px;
        background-color: rgb(1, 8, 28);
        color:white;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        max-width: 500px;
        
    }
    #heading{
        display: block;
        align-items: center;
        text-align: center;
    }
    #port{
        display: inline-block;
    }
    #folio{
        
        color: rgb(8, 109, 242);
        display: inline-block;
    }
    div{
        display: block;
        align-items: center;
        text-align: center;
    }
    a{
        text-decoration: none;
    
        transition: all;
        transition-duration: 0.5s;
    }
    a:hover{
        color: rgb(0, 123, 255);
        
    
        transition: all;
        transition-duration: 0.5s;
    }
    .navlink{
        margin: 0.5rem;
        align-items: center;
        text-align: center;
    }
    #navlinks{
        margin-left: 10%;
        transition: all;
        transition-duration: 0.5s;
        padding: 0.5rem;
    
    }
    #navlinks:hover{
        border: 1px solid white;
        transition: all;
        transition-duration: 0.5s;
        padding: 1rem;
        border-radius: 15px;
    }
    img{
        display: flex;
        border-radius: 50%;
        height: 14rem;
        align-self: center;
        transition: all;
        transition-duration: 1s;
    }
    img:hover{
        border: 3px solid rgb(0, 123, 255);
        height: 20rem;
        padding: 1rem;
        transition: all;
        transition-duration: 1s;
    
    }
    
    .icon{
        margin-top: 2rem;
        height: 30px;
        border-radius: 5px;
        display: inline-block;
        align-items: right;
        transition: all;
        transition-duration: 1s;
        border: none;
    }
    .icon:hover{
        border: none;
        height: 30px;
        padding: 0px;
        border-radius: 5px;
        transition: all;
        transition-duration: 1s;
    }
    
    /* #icon1:hover{
        margin-top:3rem;
    } */
    
    
    
    
    
    
    
    main{
        display: flex;

    }
    
    #greeting{
        display: inline-block;
        margin-top: 5rem;
        margin-left: 1rem;
    }




    

#projects{
    margin-top: 9rem; 
}

#p1{
    display: block;
    padding: 1rem;
    border: 1px solid white;
    border-radius: 15px;
    width: 250px;    
}
#vyasskills{
    color: rgb(0, 123, 255);
}
#p1img{
    height: 5rem;
    width: 90%;
}


}







#skills{
    margin-left: 3rem;
    display: block;
    margin-top: 9rem;
}
.skills{
    
    display:block;
    background-color: rgba(255, 255, 255, 0.137);
    padding: 1rem;
    width: 20rem;
    margin-top: 0.5rem;
    border-radius: 15px;

    transition: all;
    transition-duration: 0.5s;
}
.skills:hover{
    background-color: rgba(255, 255, 255, 0.797);
    color: rgb(1, 8, 28);
    padding: 1.25rem;
    transition: all;
    transition-duration: 0.5s;
    border: 1px solid rgb(8, 109, 242);
}


#main2{
    display: block;
    align-items: center;
    text-align: center;
}



#main3{
    width: max-content;
}
#projects{
    margin-top: 9rem; 
}

#p1{
    padding: 2rem;
    border: 1px solid white;
    border-radius: 15px;
    align-items: center;
    text-align: center;
    
}

#vyasskills{
    color: rgb(0, 123, 255);
}
#projects{
    margin-left: 3rem;

}

#p1img{
    height: 10rem;
    border-radius: 0%;
}

#contect{
    margin-left: 3rem;

}

.bigicon{
    display: inline-block;
    height: 6rem;
    border-radius:0%;
    
}
.bigicon:hover{
    height: 6.10rem;
    padding: 0px;
    border:none;
}
.box{
    display: inline-block;
    align-items: center;
    margin: 3rem;
    text-align: center;
    border: 1px solid white;
    border-radius: 25px ;
    padding: 2rem;
}
#footer,#contectheading,.contectpera{
    background-color:rgba(255, 255, 255, 0.057);
    padding: 1rem;
}